
@mixin link-style {
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #02897A;
  border-radius: 4px;
  display: inline-block;
  transition:0.5s ;
  -webkit-transition:0.5s ;
  -moz-transition:0.5s ;
  -ms-transition:0.5s ;
  -o-transition:0.5s ;

  cursor: pointer;
}


@mixin  list {
  margin: 0;
  padding: 0;
  list-style: none;  
}


@mixin heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

@mixin little-title($title-color) {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

@mixin text  {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
